${message}
<form action="${prepath}/sheet/${sheetaction}/${type_or_id}" method="post">
<input type="hidden" name="sheet[id]" value="${sheetid}" />
<table class="vtm_back">
	<tr>
		<td>
			<center><img src="${prepath}/images/sheetgen/vtm_logo.jpg" /></center>
			<br />
			<table width="725" class="table_white">
				<tr>
					<td>
						<table width="100%">
							<tr>
								${Name}
								${Nature}
								${Generation}
							</tr>
							<tr>
								${Player}
								${Demeanor}
								${Haven}
							</tr>
							<tr>
								${Chronicle}
								${Clan}
								${Concept}
							</tr>
						</table>
						<br />
						<table width="100%">
							<tr>
								<td colspan="6" style="text-align: center;" class="section_header td_grey">Attributes</td>
							</tr>
							<tr>
								<td colspan="2" style="text-align: center; width: 33%;" class="section_header">Physical</td>
								<td colspan="2" style="text-align: center; width: 34%;" class="section_header">Social</td>
								<td colspan="2" style="text-align: center; width: 33%;" class="section_header">Mental</td>
							</tr>
							<tr>
								${Strength}
								${Charisma}
								${Perception}
							</tr>
							<tr>
								${Dexterity}
								${Manipulation}
								${Intelligence}
							</tr>
							<tr>
								${Stamina}
								${Appearance}
								${Wits}
							</tr>
							<tr>
								<td colspan="6" style="text-align: center;" class="section_header td_grey">Abilities</td>
							</tr>
							<tr>
								<td colspan="2" style="text-align: center; width: 33%;" class="section_header">Talents</td>
								<td colspan="2" style="text-align: center; width: 34%;" class="section_header">Skills</td>
								<td colspan="2" style="text-align: center; width: 33%;" class="section_header">Knowledges</td>
							</tr>
							<tr>
								${Alertness}
								${AnimalKen}
								${Academics}
							</tr>
							<tr>
								${Athletics}
								${Crafts}
								${Computer}
							</tr>
							<tr>
								${Brawl}
								${Drive}
								${Finance}
							</tr>
							<tr>
								${Dodge}
								${Etiquette}
								${Investigation}
							</tr>
							<tr>
								${Empathy}
								${Firearms}
								${Law}
							</tr>
							<tr>
								${Expression}
								${Melee}
								${Linguistics}
							</tr>
							<tr>
								${Intimidation}
								${Performance}
								${Medicine}
							</tr>
							<tr>
								${Leadership}
								${Security}
								${Occult}
							</tr>
							<tr>
								${Streetwise}
								${Stealth}
								${Politics}
							</tr>
							<tr>
								${Subterfuge}
								${Survival}
								${Science}
							</tr>
							<tr>
								<td colspan="6" style="text-align: center;" class="section_header td_grey">Advantages</td>
							</tr>
							<tr>
								<td colspan="2" style="text-align: center; width: 33%;" class="section_header">Backgrounds</td>
								<td colspan="2" style="text-align: center; width: 34%;" class="section_header">Disciplines</td>
								<td colspan="2" style="text-align: center; width: 33%;" class="section_header">Virtues</td>
							</tr>
							<tr>
								${Background1}
								${Disciplines1}
								${Conscience/Conviction}
							</tr>
							<tr>
								${Background2}
								${Disciplines2}
								<td colspan="2"></td>
							</tr>
							<tr>
								${Background3}
								${Disciplines3}
								<td colspan="2"></td>
							</tr>
							<tr>
								${Background4}
								${Disciplines4}
								${SelfControl/Instinct}
							</tr>
							<tr>
								${Background5}
								${Disciplines5}
								<td colspan="2"></td>
							</tr>
							<tr>
								${Background6}
								${Disciplines6}
								<td colspan="2"></td>
							</tr>
							<tr>
								${Background7}
								${Disciplines7}
								${Courage}
							</tr>
							<tr>
								<td colspan="2" style="text-align: center; width: 33%;" class="section_header td_grey">Merits/Flaws</td>
								<td colspan="2" style="text-align: center; width: 34%;" class="section_header td_grey">Humanity/Path</td>
								<td colspan="2" style="text-align: center; width: 33%;" class="section_header td_grey">Health</td>
							</tr>
							<tr>
								${Merits1}
								${Humanitystring}
								${Bruised}
							</tr>
							<tr>
								${Merits2}
								${Humanity}
								${Hurt}
							</tr>
							<tr>
								${Merits3}
								<td colspan="2"></td>
								${Injured}
							</tr>
							<tr>
								${Merits4}
								<td colspan="2" style="text-align: center; width: 34%;" class="section_header td_grey">Willpower</td>
								${Wounded}
							</tr>
							<tr>
								${Merits5}
								${Willpowerdots}
								${Mauled}
							</tr>
							<tr>
								${Merits6}
								${Willpowercheck}
								${Crippled}
							</tr>
							<tr>
								${Merits7}
								<td colspan="2"></td>
								${Incapacitated}
							</tr>
							<tr>
								${Merits8}
								<td colspan="2" style="text-align: center; width: 34%;" class="section_header td_grey">Blood Pool</td>
								<td colspan="2" style="text-align: center; width: 34%;" class="section_header td_grey">Experience</td>
							</tr>
							<tr>
								${Merits9}
								${Bloodpool1}
								${Experience}
							</tr>
							<tr>
								${Merits10}
								${Bloodpool2}
								<td colspan="2"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td colspan="6" style="text-align: center;" class="section_header td_grey">Description</td></tr>
				<tr>
					${ExtraInfo}
				</tr>
				<tr>
					<td style="padding: 0px; background-color: #000000;"><img src="images/0.gif" width="1"></td>
				</tr>
				<tr>
					<td align="right">
						${buttons}
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</form>